[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain = "*"
google-search-results = "*"
openai = "*"
cd = "*"
tweepy = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
